h1 {
	color: purple;
	text-align: center;
}

section {
	background-color: #8cb27c;
	left: 30%;
	height: 250px;
	position: relative;
	width: 500px;
}

.balon {
	background-color: white;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}

#circle {
	border-radius: 50%;
	height: 80px;
	left: 40%;
	position: absolute;
	top: 30%;
	width: 80px;
}

#first_balon {
float: right;
margin-top: 3%;
}

#left-goal {
	border-left: none;
}

#right-goal {
	border-right: none;
	left: 89%;
}

#Second_balon {
position: absolute;
left: 48%;
top: 20%;
}

#principal {
	border:2px solid white;
height: 200px;
	left: 25px;
	position: absolute;
	top: 25px;
	width: 450px;
}

#third_balon {
position: absolute;
left: 85%;
bottom: 30%;
}

.white-border {
	border: 1px solid white;
}

.goal {
	height: 100px;
	position: absolute;
	top: 25%;
	width: 50px;
	}
